<div id="popup-content-data-panel">
  <dx-form
    id="popup-data-form"
    [formData]="formData"
    labelMode="outside"
    [showColonAfterLabel]="false"
    (onFieldDataChanged)="onFieldDataChanged($event)"
  >
    <dxi-form-item
      dataField="CategoryAxis"
      editorType="dxSelectBox"
      [editorOptions]="categoryEditorOptions"
    ></dxi-form-item>

    <dxi-form-item
      dataField="Series"
      editorType="dxTagBox"
      [editorOptions]="seriesEditorOptions"
    ></dxi-form-item>

    <dxi-form-item
      dataField="OnlySelected"
      editorType="dxSwitch"
      cssClass="label-v-center"
      [editorOptions]="onlySelectedEditorOptions"
    >
      <dxo-form-label location="left" alignment="left"></dxo-form-label>
    </dxi-form-item>
  </dx-form>
</div>
